
.div-suplementos{
    max-height: 1000px !important;
    
    justify-content: center;
}
.sup-img{
    justify-content: center;
}






// .container-info {  display: grid;
    
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr 1fr 1fr;
//     gap: 0px 0px;
//     grid-auto-flow: row;
//     grid-template-areas:
//       "box1 box2 box3"
//       "box4 img1 box5"
//       "box6 img1 box7"
//       "box8 box9 box10";
//   }
  
//   .box1 { grid-area: box1; }
  
//   .box2 { grid-area: box2; }
  
//   .box3 { grid-area: box3; }
  
//   .box4 { grid-area: box4; }
  
//   .box5 { grid-area: box5; }
  
//   .box6 { grid-area: box6; }
  
//   .box7 { grid-area: box7; }
  
//   .box8 { grid-area: box8; }
  
//   .box9 { grid-area: box9; }
  
//   .box10 { grid-area: box10; }
  
//   .img1 { grid-area: img1; }
  
// .img1{
//     width: 0,5%;
//     height: 0,5%;
// }